.body {
    font-family: "Verdana", serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
    background-color: white;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1800px;
    min-width: 350px;
    margin: auto
}

.interface-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 100%;
  margin: 0;

  background: url(background.jpg) no-repeat;
  background-size: 600px 100%;
  background-position: right;
}

.interface-container_container-item {
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 35%;
  margin: auto auto auto 7%;

  background: url(item-background-4_cr.jpg) no-repeat;
  background-size: 100% 100%;
}

.container-item_title-box {
  display: flex;
  height: 20px;
  width: 100%;
}

.title-box_text {
  margin: auto;
}

.container-item_input-box {
  display: flex;
  height: 100%;
  width: 100%;
}

.input-box_input {
  margin: auto;
  height: 70%;
  width: 70%;

  font-size: 16px;

  border: 0;
  border-radius: 10px;

  background: transparent;
  background-size: 100% 100%;
}

.container-item_button-box {
  display: flex;
  height: auto;
  margin: auto auto 20px auto;
  width: 100%;
}

.button-box_button {
  display: flex;
  height: 50px;
  width: 250px;
  margin: auto;

  border-radius: 10px;
  background: white;

  font-size: 16px;
}

.button-box_button:focus {
  outline: none;
}

.button_text {
  margin: auto;

  font-weight: 700;
}

@media (min-width: 1800px) {
  .interface-container {
    height: 1300px;
  }
}

@media (max-width: 1024px) {
  .interface-container {
    flex-direction: row;
    background: white;
  }

  .interface-container_container-item {
    height: 400px;
    width: 40%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .interface-container {
    flex-direction: column;
    height: 100%;
  }

  .interface-container_container-item {
    height: 260px;
    width: 90%;
    margin: auto;
  }
}
